.agregar-producto{
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
    text-align:start;    
    display: flex;
    justify-content: center; 
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.agregar-producto h2{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    
}
.agregar-producto form{
    display: flex;
    flex-direction: column;
    width: 55.9rem;    
}

.agregar-producto__input{    
    color: var(--colorGrisClaro);
    font-size: 1.2rem;
    font-weight: 400;    
    padding-top: .81rem;
    padding-bottom: 3.2rem;
    padding-left: 1.20rem;
    padding-right: 1.20rem;
    margin-bottom: 1.5rem;
    border: none;
}

.agregar-producto textarea{
    padding-left: 1.20rem;
    padding-top: .81rem;
    padding-bottom: 4.6rem;
    margin-bottom: 1.5rem;
    border: none;
}

.agregar-producto button{
    width: 55.9rem;   
}

.agregar-producto a:hover{    
    transform: none;
}


@media (max-width: 768px){

    .agregar-producto button{
        width: 10.9rem;   
    }
}

@media (max-width: 375px){
    .agregar-producto form{        
        width: 27.5rem; 
        padding: 0 auto;   
    }

    .agregar-producto__input{
        width: 27.5rem;
    }
    
}
