/*rodapie*/
footer{
    background-color: #EAF2FD;
}
.footer__menu{
    width: 80%;    
    display: flex;    
    /*align-items: flex-start;*/
    justify-content: space-between;    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 6rem 0;   
}

.footer__Logo-menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
}

.footer__list{
    padding: 0 3rem;
}

.footer__menu img{    
    width: 17.6rem;    
}

.footer__menu li{    
    margin-bottom: 3.5rem;
    color: var(--colorGris);    
}

.footer__menu li :visited{    
    margin-bottom: 3.5rem;
    color: var(--colorGris);
}

.footer__menu li:hover{    
    margin-bottom: 3.5rem;
    color: var(--colorGris);
    transform: scale(1.05);
    transition: .25s;
}

.footer__menu form{
    display: flex;
    flex-direction: column;   
    width: 40rem;        
}

.footer__menu form p{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    
}

.footer__menu form input{
    font-family: 'Raleway', sans-serif;    
    border: none;
    margin-bottom: 2rem;
    padding-bottom: 3.2rem;
    padding-top: .81rem;
    padding-left: 1.2rem;
    font-size: 1.6rem;
    font-family: 400;
    border-radius: 4px;
}

.footer__menu form input:focus{
    outline: none;
}

.footer__menu form textarea{
    font-family: 'Raleway', sans-serif;
    border: none;
    margin-bottom: 2rem;
    height: 82px;
    font-size:1.6rem ;
    line-height: 20px;
    font-family: 400;
    border-radius: 4px;
    padding-top: .81rem;
    padding-left: 1.2rem;
}

.footer__menu form textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer__menu form input::placeholder{ 
    font-family: 'Raleway', sans-serif;  
    font-size: 1.2rem;
    font-weight: 400;
    
}

.footer__menu form textarea:focus{
    outline: none;
}

.footer__menu button{
    width: 30%;
}

.footer__desarrollador{
    background-color:#FFFFFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem
}

@media (max-width: 768px){
    .footer__menu{        
        padding: 3rem 0;   
    }
    .footer__Logo-menu{
        flex-direction: column;
        align-items:flex-start;    
    }
    .footer__list{
        padding-left: 0rem;
        padding-right: 3rem;
        padding-top: 1rem;
    }
}

@media (max-width: 375px){
    
    .footer__menu{    
        width: 90%;   
        flex-direction: column;
        align-items: center;
    }

    .footer__menu form{          
        width: 90vw;        
    }

    .footer__Logo-menu{
        align-items: center;    
    }

    .footer__list{
        display: flex;
        justify-content: center;
        padding: 0 3rem;
    }
}
