/*Productos*/
.productos{
    width: 80%;
    height: auto;
    margin: 0 auto;
    
}
.productos__titulo{      
    display: flex;    
    padding-top: 4rem; 
    justify-content: space-between; 
    align-items: baseline;  
}

.productos__titulo h2{
    font-size: 3.2rem;
    font-weight: 700;
    
}

.productos__titulo h5{
    font-size: 1.6rem;
    font-weight: 700;
}

.productos__titulo i{
    margin-left: 1rem;
}

.productos__contenedor{
    display: flex;
    justify-content: space-between;
    gap: 1rem;   
    margin: 0 auto;
    flex-wrap: nowrap;
}

.productos__tarjeta{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 2rem;
}

.productos__nombre{
    color: var(--colorGris);
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.productos__precio{
    color: var(--colorGris);
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.productos__link{
    color: var(--colorAzul);
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
/*Tablet*/
@media (max-width: 768px){   
    
    .productos__contenedor{       
        flex-wrap: wrap;        
    }

    .productos__tarjeta{        
        width: 23%;
        margin-top: 2rem;         
    }

    
}

@media (max-width: 375px){
    .productos{
        width: 95%;   

    }

    .productos__titulo{              
        padding-top: 2rem; 
        padding-bottom: 2rem;
        
    }
    .productos__titulo h2{
        font-size: 2.2rem;
        font-weight: 700;
        
    }

    .productos__titulo h5{
        font-size: 1.4rem;
        font-weight: 700;
    }
    
    .productos__tarjeta{
        margin-top: .5rem;
        width: 48%;        
    }
    .productos__link{        
        font-size: 1.4rem;  
        margin-bottom: 0;     
    }
    
}