.sesion{
    background-color: #E5E5E5;
    text-align: center;    
    display: flex;
    justify-content: center; 
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.sesion h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.sesion form{
    display: flex;
    flex-direction: column;
    width: 42.3rem;    
}

.sesion input{
    color: var(--colorGrisClaro);
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 1.81rem;
    padding-bottom: 2.5rem;
    padding-left: 1.20rem;
    padding-right: 1.20rem;
    margin-bottom: 2.5rem;
    border: none;
}

.sesion button{
    width:42.3rem;
    transform: none;
}

.sesion a:hover{    
    transform: none;
}