
html{
    font-size: 62.5%;
    
}

:root{
    --colorAzul: #2A7AE4;
    --colorGris: #464646;
    --colorBlanco: #FFFFFF;
    --colorRed: red;
    
}

body{
    font-family: 'Raleway', sans-serif;
    color: var(--colorGris);
    
}


button{
    background-color: var(--colorAzul);    
    color: #FFFFFF;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.6rem;
    line-height: 18.78px;
    cursor: pointer;    
}

button:hover{
    background-color: var(--colorBlanco);    
    color: var(--colorAzul);
    border: 1px solid;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem;
    line-height: 18.78px;
    cursor: pointer;    
}


a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    transform: scale(1.05);
    transition: .25s;
}

a:visited{
    color: var(--colorAzul);
}


@media (min-width: 768px){
    body{
        width: 100%;
    }
}





